<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18E226</string>
	<key>CFBundleExecutable</key>
	<string>VoodooPS2Keyboard</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1.6, Copyright Apple Computer, Inc. 2000-2003, RehabMan 2012-2013</string>
	<key>CFBundleIdentifier</key>
	<string>as.acidanthera.voodoo.driver.PS2Keyboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Voodoo PS/2 Keyboard</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E1001</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18E219</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E1001</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ApplePS2Keyboard</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.acidanthera.voodoo.driver.PS2Keyboard</string>
			<key>IOClass</key>
			<string>ApplePS2Keyboard</string>
			<key>IOProviderClass</key>
			<string>ApplePS2KeyboardDevice</string>
			<key>Platform Profile</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>Breakless PS2</key>
					<array>
						<string>;Items must be strings in the form of breaklessscan (in hex)</string>
					</array>
					<key>Custom ADB Map</key>
					<array>
						<string>;Items must be strings in the form of scanfrom=adbto (in hex)</string>
					</array>
					<key>Custom PS2 Map</key>
					<array>
						<string>;Items must be strings in the form of scanfrom=scanto (in hex)</string>
						<string>e027=0;disable discrete fnkeys toggle</string>
						<string>e028=0;disable discrete trackpad toggle</string>
						<string>e037=64;PrtSc=F13</string>
					</array>
					<key>HIDF12EjectDelay</key>
					<integer>250</integer>
					<key>LogScanCodes</key>
					<integer>0</integer>
					<key>Make Application key into Apple Fn key</key>
					<false/>
					<key>Make Application key into right windows</key>
					<true/>
					<key>Make right modifier keys into Hangul and Hanja</key>
					<false/>
					<key>SleepPressTime</key>
					<integer>0</integer>
					<key>Swap capslock and left control</key>
					<false/>
					<key>Swap command and option</key>
					<true/>
					<key>Use ISO layout keyboard</key>
					<false/>
					<key>alt_handler_id</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.acidanthera.voodoo.driver.PS2Controller</key>
		<string>2.1.6</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
